<!DOCTYPE html>
<html ng-app="game">
<head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
    <link rel="stylesheet" href="style.css"/>
    <meta charset="UTF-8">
</head>

<body>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="gameApp.js"></script>
		
	<!--banner du site(logo, deco/reco et menu déroulant)-->
	<div id="ban"></div>
	
	<a href="https://github.com/etochy/ProjetMolli2016">
	    <div id="github"></div>
	</a> 
	
	<!-- Partie gauche du site, là où il y a le quizz, l'écuyer et les potions bonus-->
	<div id="quizz" ng-controller="QuestionController as question"> 
	
		<!--là où sera affiché le Theme-->
	    <h1 class="theme">Theme : {{question.products[0].theme}}</h1>
	
	    <!--là où est affiché La question-->
	    <p class="question"> {{question.products[0].question}} </p>
	
	    <!-- les réponses, la bonne et les mauvaises-->
	    <input class="toto" type="radio" name="reponse"> {{question.products[0].f1}}</input>
	    <input class="toto" type="radio" name="reponse"> {{question.products[0].f2}} </input>
	    <input class="toto" type="radio" name="reponse"> {{question.products[0].reponse}} </input>
	    <input class="toto" type="radio" name="reponse"> {{question.products[0].f3}} </input>
	
	    <!-- Le button de validation-->
	    <button class="validation">Validez votre réponse</button>
	
	    <!--La  boite de dialogue de l'ecuyer-->
	    <div id="dialogue" ng-controller="EcuyerController as parlote" ng-show="clicked">
	        <p class="dialogue">{{parlote.products[3].parlote}}</p>
	    </div>
	
	    <!--le visage de l'ecuyer et ce qu'il fait-->
	    <a href ng-click="clicked = !clicked" ng-click="GenRand()">
	        <div id="Ecuyer">
	        </div>
	    </a>
	
	</div>
	
	<!--Début de la partie droite, là où seront les adversaires, les points de vie et  -->
	<div id="window" ng-controller="MonsterController as monster">
		<div ng-repeat="mob in monster.monsters">
			<div id="Mob" ng-show="mob.step == mob.id">
				{{mob.name}}
			</div>
		</div>
	</div>
	
	<!-- <div id="window" ng-controller="MonstreController as monstres">
	
	    <p class="NomMob">
	    	{{monstres.monstres[step].nom}}
	    </p> -->
	    
	    
	    
	    <!-- <a href ng-click="clicked1 = !clicked1" ng-click="GenRand()">
	        <div id="Mob">
	        
	        </div>
	    </a> 
	    
	    <div id="dialogueSorciere" ng-controller="SorciereController as parloteS" ng-show="clicked1">
	        <p class="dialogueS">{{parloteS.products[1].parlote}}</p>
	    </div> -->
	
	<!--</div>-->
	
	

</body>
</html>
