<!DOCTYPE html>
<html ng-app="game">
<head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
    <link rel="stylesheet" href="style.css"/>
    <meta charset="UTF-8">
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="gameApp.js"></script>
</head>

<body>	
	<div id="ban"></div>
	
	<a href="https://github.com/etochy/ProjetMolli2016">
	    <div id="github"></div>
	</a>
	
	<div id="leftDiv" ng-controller="QuestionController as question"> 
	
	    <h1 id="theme">Theme : {{question.theme}}</h1>
	    
	    <p id="question">{{question.title}}</p>
		
		<div ng-repeat="choice in question.choices">
		    <input id="reponse" type="radio" name="reponse"> {{ choice.answer }}</input>
		</div>
	
	    <button id="validerReponse">Validez votre réponse</button>
	
	    <div id="dialogueEcuyerBox" ng-controller="EcuyerController" ng-show="clicked">
	        <p id="dialogueEcuyerText">{{ }}</p>
	    </div>
	    
	    <a href ng-click="clicked = !clicked" ng-click="GenRand()"><div id="Ecuyer"></div></a> 
	
	</div>
	
	<div id="rightDiv" ng-controller="MonsterController as monster">
	    <div ng-repeat="ennemy in monster.monsters" ng-show="ennemy.id === monster.step">	
			<div id="ennemy" >
 				<p>{{ennemy.name}}</p>
 				<p>HP : {{ennemy.hp - monster.correctAnswers}}</p>
			</div>	 	
		 	<div id="imgennemy"ng-repeat="ennemy in monster.monsters" ng-show="ennemy.id === monster.step">
		 		<img class="monstre" ng-src="{{ennemy.image}}"/>
		 	</div>
		</div>


	<script src="https://apis.google.com/js/client.js?onload=init"></script>

</body>
</html>