<html ng-app="rpg">
<head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
    <link rel="stylesheet" href="style.css"/>
    <meta charset="UTF-8">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id"
          content="767512286131-hg3mu1jn4vr5dhk9ptht2ge18qn73iof.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script> function onSignIn(googleUser) {
    /* Useful data for your client-side scripts:*/
    var profile = googleUser.getBasicProfile();
    console.log("ID: " + profile.getId());
    /* Don't send this directly to your server!*/
    console.log('Full Name: ' + profile.getName());
    console.log('Given Name: ' + profile.getGivenName());
    console.log('Family Name: ' + profile.getFamilyName());
    console.log("Image URL: " + profile.getImageUrl());
    console.log("Email: " + profile.getEmail());
    /* The ID token you need to pass to your backend:*/
    var id_token = googleUser.getAuthResponse().id_token;
    console.log("ID Token: " + id_token);
}
;
</script>
<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
</script>

<a href="#" onclick="signOut();"  ng-click="show = !show">Se deconnecter</a>




<div class="g-signin2" data-onsuccess="onSignIn" ng-click="show = !show" ng-show="show">Se connecter
</div>


<div id="ban">
</div>
<a href="https://github.com/etochy/ProjetMolli2016">
    <div id="github"></div>
</a>



<button class="b1" ng-show="!show" onclick="window.open(
'http://1-dot-theknowledgestory.appspot.com/index1.html', 'exemple', 'height=600, width=800, top=90, left=350, toolbar=no, menubar=no, location=yes, resizable=yes, scrollbars=yes, status=no');"

        >Nouvelle Partie</button>
<!-- <button class="b2" ng-show="!show">Continuer</button> -->

<button class="b2" ng-show="!show" onclick="alert(yo)">High Score</button>

<button class="b2">Générer des questions</button>
</body>
</html>
