
/* ----- ALL PAGES ----- */

body {    
    margin:0;
    padding:0;
    background: url(/Source/bg4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size:cover; 
}

h1{
    font:Jack in the box;
}

#ban {
    background-image:url(/Source/logo.png);
    background-repeat:no-repeat;
    background-size: contain;
    width: 75%;
    height : 150px;
    margin-left : auto;
    margin-right :auto;
    background-position: center;
}

#github{
    background-image: url(/Source/github.png);
    background-repeat:no-repeat;
    background-size: contain;
    width: 15%;
    height : 15%;
    position:absolute;
    right : 0;
    top : 0;
}

/* ----- INDEX.HTML ----- */

button.b1 {
    margin-left: 40%;
    margin-top : 18%;
    width : 20%;
    height : 8%;
    text-align: center;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

    border:none;
    display:block;
    color:#555555;
    font-weight:bold;
    line-height:29px;
    text-decoration:none;
}

button.b2{
    margin-top : 2%;
    width : 20%;
    height: 8%;
    margin-left: 40%;
    text-align: center;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

    border:none;
    display:block;
    color:#555555;
	font-weight:bold;
	line-height:29px;
    text-decoration:none;
}

button.b1:hover {

    background-color: grey; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button.b2:hover {
    background-color: grey; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button.b1:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button.b2:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/* ----- GAME.HTML ----- */

/* Left div */

#leftDiv{	
    background-image:url(/Source/parchemin1.png);
    background-position:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    margin-top : 20px;
    margin-left: 4% ;
    width:40%;
    height:80%;
    float:left;
    position:absolute;
}

#theme {
    margin-top: 7%;
    text-align: center;
}

#question{
    text-shadow: 10;
    text-align: center;
}

#reponse[type=radio]{
    margin-left : 12%;
    margin-top : 10%;
   	font-size: 23px;
    float: left;
}

#validerReponse{
    margin-top : 10%;
    margin-left : 25%;
    width: 50%;
    height: 10%;
    text-align: center;
}

#Ecuyer{
    background-image:url(/Source/ecuyer.png);
    width : 20%;
    height: 20%;
    background-size:cover;
    background-repeat:no-repeat;
    float: right;
    margin-bottom : 5%;
    position:absolute;
    bottom:0;
    right:0;
}

#dialogueEcuyerBox{
    background-image:url(/Source/bulle.png);
    background-size:contain;
    background-repeat:no-repeat;
    width : 25%;
    height :23%;
    position : absolute;
    right : 20%;
    bottom: 18%;
}

#dialogueEcuyerText{
    margin-top: 25%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

/* right div */

#rightDiv{
    background-image:url(/Source/cadre1.png);
    background-repeat:no-repeat;
    background-position:fixed;
    background-size: contain;
    margin-top : 20px;
	margin-right: 2.5%;
  	position :relative;
  	float:right;
  	bottom : 8%;
    width:50%;
    height: 600px;

}


#ennemy{
	margin-left: 8%;
    margin-top : 10%;
    width:40%;
    color: white;
    font-size:2em;
}

#imgennemy{
    margin-right: 7%;
  	width: 35%;
  	height: 70%;
  	float:right;
  	bottom : 10%;
	position :relative;
}

img.monstre{

	background-repeat:no-repeat;
	background-size: cover;
	width : 100%;
	heigth : auto;
}



/* ----- HighScore.Html ----- */


#MainDiv{	
    background-image:url(/Source/parchemin1.png);
    background-position:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    margin-top : 20px;
    margin-left: 30% ;
    width:40%;
    height:80%;
    position:absolute;
}

p.highscore{
	margin-top: 7%;
    text-align: center;
    color: black;
    font-weight:bold;
	line-height:29px;
	font-size: 23px;
	margin-bot :5%;
}







